section#jekyll-form-example.slide-jekyll-form-example
  h2 Forms

  pre
    code.html.
      &lt;form action="//forms.brace.io/kevindew@me.com" method="post" class="contact-form"&gt;
        &lt;input type="hidden" name="_subject" value="DIY AMA"&gt;
        &lt;input type="text" name="_gotcha" style="display:none"&gt;
        &lt;input type="hidden" name="_next" value="{{ site.baseurl | prepend: site.url }}/ama/thanks/"&gt;
        &lt;label for="ama-name"&gt;Your Name&lt;/label&gt;
        &lt;input type="text"
               name="name"
               id="ama-name"
               placeholder="Tim Taylor"
               class="wide-input"
               required&gt;
        &lt;label for="ama-email"&gt;Your Email&lt;label&gt;
        &lt;input type="email"
               name="_replyto"
               id="ama-email"
               class="wide-input"
               placeholder="tim@thetoolman.com"
               required&gt;
        &lt;label for="ama-question"&gt;Your Question&lt;/label&gt;
        &lt;textarea cols="30"
                  rows="5"
                  name="question"
                  id="ama-question"
                  placeholder="How do I change a lightbulb?"
                  class="wide-input"
                  required&gt;&lt;/textarea&gt;
        &lt;button type="submit"&gt;Send&lt;/button&gt;
      &lt;/form&gt;
